
body{
    background-color: transparent;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


.box-striscia{
    background-color: cornflowerblue;
    background-image: url(../img/headerpattern.png);
    height: 180px;
}

header p{
    background-color: transparent;
    background-image: url(../img/logo.svg);
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    
    position: relative;
    left: 25px;
    bottom: -80px;    
}

.titolo{
    font-size: 20px;
}

.scritto{
    font-size: 1.2rem;
    color: grey;
    margin-bottom: 0;

}

.scritto span{
    color: blue;
}

.data{
    color: grey;
    font-size: 10px;
    margin-top: 0;
}

.intestazione{
    font-size: 12px;
}

.testo1 span{
    background-color: yellow;
}

.tabella{
    width:100% ;
    border-collapse: collapse;
}

.th-tabella{
    background-color: #62bcdf;
    color: white;
    text-align: left;
}

.tabella tbody, .tabella thead{
    text-align: left;
    border:none
}

.tabella tbody tr:nth-child(even){
    background-color: cyan;
}

.testo2 span{
    background-color: yellow;
}

.img-footer1 p{
    color: white;
    font-size: 25px;
    position: relative;
    bottom: 230px;
    left: 15px;
    font-weight: bold;
}

.img-footer2 p{
    color: white;
    font-size: 25px;
    position: relative;
    bottom: 230px;
    left: 15px;
    font-weight: bold;
}

footer h3 {
    color: gray;
    font-size: 20px;
}